@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');




/* this makes the default margin and padding for all the pages as 0. */
* {

    margin: 0;
    padding: 0;
}

body {
    background-color: #5D4841;
}

/* header starts */
.header-main {
    background-color: #967E76;
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    box-shadow: black 0px 0.1px 5px 2px;
    position: fixed;
    z-index: 1;




}

.logo {
    padding-top: 5px;
    padding-left: 30px;
}

.header-left {
    display: flex;
    justify-content: space-between;
    width: 300px;


}

.header-right {
    width: 200px;
    padding-top: 10px;
}

.name {
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* header ends */
/* navigation starts */
.navigation {
    padding-left: 30px;
    word-spacing: 30px;
    padding-top: 23px;
    width: 300px;


}

.navigation li {
    display: inline;
    text-decoration-style: none;
}

.navigation li a {
    color: white;
}

ul li {
    text-decoration: none;
}

li a {
    text-decoration: none;
}

/* navigation ends */
/* main body starts */
.body-main {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    height: 2000px;

}

/* button all start*/
button {
    width: 100px;
    height: 30px;
    margin-top: 40px;
    border-radius: 30px;

}


/* button ends */
/* content 1 starts */
.content-1 {

    background-color: #CDC1B8;
    width: 80%;
    height: 450px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;


}

.img-1 {

    width: 55%;
    height: 400px;
    margin-top: 23px;
    border-radius: 20px;
    box-shadow: rgb(80, 78, 78) 0px 0.1px 5px 2px;


}

.img-1 img {
    width: 100%;
    height: 100%;
    border-radius: 20px;

}

.txt-1 {
    color: aliceblue;
    width: 40%;
    height: 200px;
    margin-top: 120px;
    border-radius: 20px;
    margin-left: 20px;

}

.txt-1 h2 {


    font-size: 27px;
    color: rgb(50, 50, 50);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;



}


.txt-1 h6 {

    padding-top: 10px;
    font-size: 15px;
    font-weight: lighter;
    color: black;
}

/* content 1 ends */
/* content 2 starts */
.content-2 {

    background-color: #CDC1B8;
    width: 80%;
    height: 450px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;


}

.img-2 {

    width: 60%;
    height: 400px;
    margin-top: 23px;
    border-radius: 20px;
    box-shadow: rgb(80, 78, 78) 0px 0.1px 5px 2px;


}

.img-2 img {
    width: 100%;
    height: 100%;
    border-radius: 20px;

}

/* content 2 ends */
/* content 3 starts */
.content-3 {
    background-color: #CDC1B8;
    width: 80%;
    height: 455px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;

}

.img-3 {

    width: 25%;
    height: 400px;
    margin-left: 150px;
    margin-top: 23px;
    border-radius: 20px;
    box-shadow: rgb(80, 78, 78) 0px 0.1px 5px 2px;


}

.img-3 img {
    width: 100%;
    height: 100%;
    border-radius: 20px;

}

/* content 3 ends */
/* content 4 starts */
.content-4 {
    background-color: #CDC1B8;
    width: 80%;
    height: 455px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;

}

.img-4 {

    width: 40%;
    height: 400px;
    margin-top: 23px;
    margin-left: 70px;
    border-radius: 20px;
    box-shadow: rgb(80, 78, 78) 0px 0.1px 5px 2px;


}

.img-4 img {
    width: 100%;
    height: 100%;
    border-radius: 20px;

}

/* content 4 ends */
hr {
    opacity: 0.2;
}

.footer-main {
    height: 200px;
    width: 100%;
    padding-top: 20px;
    display: flex;
}

.conditions {

    height: 160px;
    width: 200px;
    margin-left: 100px;
    border-left: 2px solid rgb(129, 129, 129);
    line-height: 40px;
    padding-left: 10px;
    color: aliceblue;


}

.conditions li {
    list-style: none;
}

.mail {
    height: 160px;
    width: 200px;
    margin-left: 100px;
    border-left: 2px solid rgb(129, 129, 129);
    line-height: 40px;
    padding-left: 10px;
    color: aliceblue;


}

.mail li {
    list-style: none;
}

.copyright {
    height: 160px;
    width: 200px;
    margin-left: 100px;
    border-left: 2px solid rgb(129, 129, 129);
    line-height: 40px;
    padding-left: 10px;
    color: aliceblue;
}

.copyright li {
    list-style: none;
}

/* about page  starts*/
/* index page ends */
.about-main {

    height: 700px;
    width: 900px;
    padding-top: 100px;
    margin-left: 180px;

}

.about-top {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;


}

.about-img {
    height: 300px;
    width: 500px;
    background-color: #AEED98;
    display: flex;
    justify-content: center;
    padding-top: 10px;



}

.about-img img {
    height: 290px;
    width: 480px;


}

.about-txt {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    rotate: 180deg;
    font-size: 40px;
    word-spacing: 20px;
    letter-spacing: 2px;
}

.about-txt h5 {

    color: white;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.about-discription {
    display: inline-block;
    color: white;
    margin-left: 220px;
    margin-top: 30px;
    height: 600px;
}

.about-discription>p {
    font-size: 15px;
    line-height: 20px;
}

.about-footer {
    height: 200px;
    width: 100%;
    padding-top: 20px;
    display: flex;

}

.footer-hr {
    opacity: 0.2;
    margin-top: 220px;
}

/* about page ends */
/* menu-main page starts */
.menu-main {
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 800px;

}

/* container 1 starts */
.container-1 {

    background-color: #CDC1B8;
    height: 400px;
    width: 80%;


}

/*  */

/* container 1 ends */
/* container 2 starts */
.container-2 {
    margin-top: 20px;
    background-color: #CDC1B8;
    height: 400px;
    width: 80%;


}

/* container 2 ends */
/* style for both container 1 and 2 starts */
.item-container {
    height: 300px;
    width: 90%;
    background-color: lightgray;
    margin-left: 50px;
    display: flex;
}

.item-title {
    font-size: medium;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50px;

}

.items {
    border: 1px solid black;
    height: 270px;
    width: 215px;
    margin-top: 15px;
    margin-left: 10px;
    padding-top: 5px;
}

.items>p {
    font-size: 15px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;

}

/* item-img starts*/
.item-img {


    margin-left: 5px;
    height: 190px;
    width: 95%;
}

.item-img img {
    margin-top: 10px;
    height: 90%;
    width: 100%;
    border-radius: 20px;
}


/* item-img ends */
/* menu-order-btn starts */
.menu-order-btn {
    margin-top: 5px;
    margin-left: 5px;

}

/* menu-order-btn ends */

/* style for both container 1 and 2 ends */
/* menu-main page ends */
/* menu-hr starts*/
.menu-hr {
    opacity: 0.2;
    margin-top: 20px;
}

/* menu-hr ends */
/* menufooter starts */
.menu-footer {
    height: 200px;
    width: 100%;
    padding-top: 20px;
    display: flex;
}

/* menu footer ends */
/* order-place starts */
.order-main {
    height: 600px;
    width: 100%;
    padding-top: 100px;
}

.order-place-main {
    background-color: #483833;
    margin-left: 30%;
    width: 40%;
    height: 500;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    padding-bottom: 20px;
}

.form-title {


    background-color: #CFCFCF;
    margin-top: 10px;
    width: 96%;
    height: 50px;
    font-size: 26px;
    font-family: 'Inter', sans-serif;

}

.form-title>h6 {
    margin-top: 12px;
    margin-left: 10px;

}

form {

    color: white;
    word-spacing: 2px;
    line-height: 25px;
    font-size: 14px;

}

input {
    height: 20px;

}

.details-input {
    width: 200px;
}

.order-form {

    padding-top: 20px;
    padding-right: 125px;
    height: 400px;
    width: 70%;

}

/* to manupulate the width of the lable you need to make the display to inline-block */
.label {

    display: inline-block;
    width: 100px;
}

.agreement {
    font-size: 12px;


}

.agreement-wrapper {
    display: flex;
    align-items: center;

}

.agreement-chk {
    margin-left: 100px;

}



.Confirm-btn {
    margin: 0px;
    margin-left: 90px;
}

.order-footer {
    height: 200px;
    width: 100%;
    padding-top: 20px;
    display: flex;
}

/* order-place ends */
/* offer main starts */
.offer-main {
    width: auto;
    height: 1200px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* offer container 1 starts */

.offer-container-1 {
    height: 500px;
    width: 80%;
    background-color: #CDC1B8;
    display: flex;
    justify-content: space-between;



}

/* offer container 1 left starts */

.offer-container-1-left {
    height: 450px;
    width: 40%;
    background-color: #4d4c4c;
    margin-top: 25px;
    margin-left: 40px;

}

.offer-container-1-left-top {
    height: 60%;
    width: 100%;
    background-color: #e4634a;

}

.offer-container-1-left-bottom {
    height: 40%;
    width: 100%;
    background-color: #483833;
}

/* offer container 1 left ends */
/* offer container 1 right startts */
.offer-container-1-right {
    height: 450px;
    width: 40%;
    background-color: #4d4c4c;
    margin-top: 25px;
    margin-right: 40px;

}

.offer-container-1-right-top {
    height: 60%;
    width: 100%;
    background-color: #e4634a;

}

.offer-container-1-right-bottom {
    height: 40%;
    width: 100%;
    background-color: #483833;
}

/* offer container 1 right ends */

/* offer container 1 ends */
/* offer container 2 strts */
.offer-container-2 {
    height: 500px;
    width: 80%;
    background-color: #CDC1B8;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}

/* offer container 2 left starts */
.offer-container-2-left {
    height: 450px;
    width: 40%;
    background-color: #4d4c4c;
    margin-top: 25px;
    margin-left: 40px;

}

.offer-container-2-left-top {
    height: 60%;
    width: 100%;
    background-color: #e4634a;

}

.offer-container-2-left-bottom {
    height: 40%;
    width: 100%;
    background-color: #483833;
}

/* offer container 2 left ends */
/* offer container 2 right starts */
.offer-container-2-right {
    height: 450px;
    width: 40%;
    background-color: #4d4c4c;
    margin-top: 25px;
    margin-right: 40px;

}

.offer-container-2-right-top {
    height: 60%;
    width: 100%;
    background-color: #e4634a;


}

.offer-container-2-right-bottom {
    height: 40%;
    width: 100%;
    background-color: #483833;
}

/* offer container 2 right ends */
/* offer container 2 ends */


/* offer main ends */
/* offer footer starts */
.offer-footer {
    height: 200px;
    width: 100%;
    padding-top: 20px;
    display: flex;
}

/* offer footer ends */